In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# insert path
path = r'/Users/nancykray/Desktop/Instacart Basket Analysis'

In [3]:
# insert newest dataset
instacart = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacart_merged_2.pkl'))

In [4]:
#check head
instacart.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,income,region,low_activity,department,age_flag,living_flag,shop_time_flag,mean_orders,dep_popularity,top_products
0,2539329,1,1,2,8,NaN,First Order,196,1,0,...,40423,South,False,beverages,30s & 40s,With Family,Early Bird,17.901479,Not popular,nan
1,2398795,1,2,3,7,15.0,Repeat Customer,196,1,1,...,40423,South,False,beverages,30s & 40s,With Family,Early Bird,17.901479,Not popular,nan
2,473747,1,3,3,12,21.0,Repeat Customer,196,1,1,...,40423,South,False,beverages,30s & 40s,With Family,Regular,17.901479,Not popular,nan
3,2254736,1,4,4,7,29.0,Repeat Customer,196,1,1,...,40423,South,False,beverages,30s & 40s,With Family,Early Bird,17.901479,Not popular,nan
4,431534,1,5,4,15,28.0,Repeat Customer,196,1,1,...,40423,South,False,beverages,30s & 40s,With Family,Regular,17.901479,Not popular,nan

In [8]:
instacart.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time', 'days_since_prior_order', 'first_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_product_price', 'spending_flag', 'customer_frequency',
       'frequency_flag', 'gender', 'state', 'age', 'date_joined', 'dependants',
       'marital_status', 'income', 'region', 'low_activity', 'department',
       'age_flag', 'living_flag', 'shop_time_flag', 'mean_orders',
       'dep_popularity', 'top_products'],
      dtype='object')

In [13]:
instacart['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     20891771
Low-range product      9674840
High-range product      397953
Name: count, dtype: int64

In [14]:
instacart['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    21430960
Busiest day        5908610
Least busy         3624994
Name: count, dtype: int64

In [15]:
instacart['busiest_days'].value_counts(dropna=False)

busiest_days
Regularly busy     12349739
Busiest days       11320296
Least busy days     7294529
Name: count, dtype: int64

In [17]:
instacart['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       20180856
Average orders     9550810
Fewest orders      1232898
Name: count, dtype: int64

In [18]:
instacart['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular Customer    15876776
Loyal Customer      10284093
New Customer         4803695
Name: count, dtype: int64

In [19]:
instacart['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent Customer        21204476
Regular Customer          6865113
Non-frequent Customer     2894975
Name: count, dtype: int64

In [20]:
instacart['region'].value_counts(dropna=False)

region
South        10311139
West          7927227
Midwest       7261513
Northeast     5464685
Name: count, dtype: int64

In [21]:
instacart['age_flag'].value_counts(dropna=False)

age_flag
30s & 40s      9730686
Older Adult    8195544
Middle Age     7220731
Below_30       5817603
Name: count, dtype: int64

In [22]:
instacart['living_flag'].value_counts(dropna=False)

living_flag
With Family    23224883
Alone           7739681
Name: count, dtype: int64

In [24]:
instacart['shop_time_flag'].value_counts(dropna=False)

shop_time_flag
Regular       24908263
Night Owl      3168547
Early Bird     2887754
Name: count, dtype: int64

In [25]:
instacart['mean_orders'].value_counts(dropna=False)

mean_orders
18.495730    9079273
18.324695    5177182
17.830354    2766406
17.901479    2571901
16.160739    2121731
17.328319    1782705
17.856619    1120828
16.933858    1012074
17.144802    1003834
16.633019     822136
16.438914     699857
16.576910     674781
17.469987     670850
16.933392     424306
19.867090     410392
17.174694     255991
16.034226     144627
15.995927      93060
24.281327      64768
18.096481      34411
20.797555      33451
Name: count, dtype: int64

In [26]:
instacart['dep_popularity'].value_counts(dropna=False)

dep_popularity
Not popular         16165087
Regularly bought    14700298
Most Popular           64768
nan                    34411
Name: count, dtype: int64

In [27]:
instacart['spending_flag'].value_counts(dropna=False)

spending_flag
Low Spender     30361139
High Spender      603425
Name: count, dtype: int64